.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title-container {
  text-align: center;
  margin-bottom: 2rem;
}

.game-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  color: #FFA500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 1.5rem;
  color: #8a8a8a;
  margin: 0;
}

.start-button {
  --background: #FFA500;
  --color: #070606;
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  margin-top: 2rem;
}
