<ion-header>
  <ion-toolbar>
    <ion-title>Welcome To Mixit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="title-container">
      <h1 class="game-title">Mixit</h1>
      <p class="subtitle">A Fun Mixing Game</p>
    </div>
    <ion-button expand="full" class="start-button" (click)="startGame()">Start Game</ion-button>
  </div>
</ion-content>

<!-- <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="Alert"
  subHeader="Important message"
  message="This is an alert!"
  [buttons]="alertButtons"
></ion-alert> -->
<!-- <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal> -->